/* css stylesheet */
* {
    margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Merriweather', serif;
}



.header-banner {
    background: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position: center;
    border-radius: 16px;
    margin: 8px;
}

.Header-title {
    color: #FFF;
    text-align: center;
    line-height: 55px;
    padding-top: 177px;
}

.header-description {
    color: #FFF;
    width: 632px;
    height: 190px;
    text-align: center;
    font-size: 72px;
    padding-left: 344px;

}

/* section start */
/* .top-section {
    width: 1600px;
    height: 7335px;
}

.section-container {
    width: 802px;
    height: 500px; */
.top-section {
    width: 700px;
    margin-left: 300px;
    margin-top: 100px;
}

.section-title {
    line-height: 150px;
    font-family: 'Inter', sans-serif;
    font-size: 88px;


}



.section-mid {
    font-size: 19px;
}

#section-title {
    color: #FF0000;
    text-align: center;

}

.section-title-container {

    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;

}

.container {
    width: 802px;
    height: 500px;

}

/* main container start */
.main-container {
    justify-content: center;
    display: flex;
    background: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position: center;
    border-radius: 16px;
    margin: 8px;
    margin-top: 70px;
}

.main-container-title {
    color: #FFFFFF;
    padding-left: 100px;


}

.main-contant {
    color: #FFF;
    width: 632px;
    height: 190px;
    padding-top: 120px;
    font-size: 72px;


}

.main-paragrap {
    width: 697px;
    line-height: 30px;
}

.main-button {
    margin-left: 120px;
    margin-top: 30px;
    width: 103px;
    font-size: 20px;
    background-color: greenyellow;
    border-radius: 10px;
}

.main-img {
    width: 319px;
    height: 464px;
    margin-top: 60px;
}

/* main contant part start */
.main-part-contant {
    margin: 8px;
    margin-top: 50px;

}

.end-section-main {
    width: 1320px;
    height: 616px;
    background-color: greenyellow;
    margin: 10px 10px;

    padding-left: 0;

}

.img-end {
    margin-left: 585px;
    margin-top: 80px;

}

.main-part-header {
    color: #FF0000;
}

.main-photo-section {
    display: flex;


}

.photo-section {
    width: 424px;
    height: 450px;
    justify-content: space-around;
    margin: 24px 24px 24px 0;
    border-radius: 16px;
}

.end-main {
    display: flex;
    margin-top: 48px;
    margin-left: 200px;
}

.end-sub {
    width: 210px;
    /* height: 24px; */
    padding: 34px 40pxpx;
    background-color: #FF0000;
    border-radius: 0 50px 50px 0;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    border: 0;

}

.input-section {
    width: 438px;
    height: 69px;
    border-radius: 50px 0 0 50px;
    border: 0;
    padding-left: 30px;
}

.main-title {
    width: 512px;
    height: 60px;
    font-size: 48px;
    margin-left: 404px;


}

.power-contant {
    margin-left: 202px;
    width: 896px;
    height: 64px;
    font-size: 20px;
    margin-top: 20px;
}

footer {
    width: 1600px;
    height: 609px;
    background-color: #070211;
}