/* css stylesheet */
* {
    margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Merriweather', serif;
}



.header-banner {
    background: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position: center;
    border-radius: 16px;
    margin: 8px;
}

.Header-title {
    color: #FFF;
    text-align: center;
    line-height: 55px;
    padding-top: 177px;
}

.header-description {
    color: #FFF;
    width: 632px;
    height: 190px;
    text-align: center;
    font-size: 72px;
    padding-left: 344px;

}


.top-section {
    width: 700px;
    margin-left: 300px;
    margin-top: 100px;
}

.section-title {
    line-height: 150px;
    font-family: 'Inter', sans-serif;
    font-size: 88px;


}



.section-mid {
    font-size: 19px;
}

#section-title {
    color: #FF0000;
    text-align: center;

}

.section-title-container {

    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;

}

.container {
    width: 802px;
    height: 500px;

}


/* bonus part style start */

.bonus-part {
    width: 1320px;
    height: 482px;
    background-color: #FFF8F3;
    margin: 8px;
    margin-top: 112px;


}

.bonus-title {
    text-align: center;
    padding-top: 100px;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    line-height: 56px;
}

.bonus-button {
    background-color: #FF0000;
    width: 103px;
    padding: 5px;
    line-height: 24px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    margin-left: 608px;
    margin-top: 40px;
}

/* new bonus part start */


.bonus-part2 {
    display: flex;
    width: 1320px;
    margin: 100px 8px 8px 8px;
    padding-left: 40px;


}

.redcolor {
    color: red;
}

.part2-section {
    width: 207px;
    height: 29px;
}

.bonus-part-midle {
    padding: 30px 0 0 20px;
}




.part2-title {
    width: 328px;
    height: 60px;
    font-family: 'Inter', sans-serif;

}

.part2-prg {
    width: 393px;
    height: 110PX;
}

.bonus-img {
    border-radius: 15PX;


}

.background-part {
    width: 400px;
    height: 395px;
    border: 15px solid red;
    border-radius: 50%;
}

span {
    color: #FF0000;
}

.discount-part {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    background-position: bottom;

}

.discount-header {

    width: 1320px;
    height: 600px;
    margin-bottom: 50px;
}


.img-part {
    background-image: url(../resources/Rectangle\ 2.png);
    width: 1320px;
    height: 229px;
}

#discoun-part {

    height: 91px;
    font-size: 73px;
}



/* main container start */
.main-container {
    justify-content: center;
    display: flex;
    background: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position: center;
    border-radius: 16px;
    margin: 8px;
    margin-top: 70px;
}

.main-container-title {
    color: #FFFFFF;
    padding-left: 100px;


}

.main-contant {
    color: #FFF;
    width: 632px;
    height: 190px;
    padding-top: 120px;
    font-size: 72px;


}

.main-paragrap {
    width: 697px;
    line-height: 30px;
}

.main-button {
    margin-left: 120px;
    margin-top: 30px;
    width: 103px;
    font-size: 20px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.main-img {
    width: 319px;
    height: 464px;
    margin-top: 60px;
}

/* main contant part start */
.main-part-contant {
    margin: 8px;
    margin-top: 50px;

}

.end-section-main {
    width: 1320px;
    height: 616px;
    background-color: #FFF8F3;
    margin: 10px 10px;

    padding-left: 0;

}

.img-end {
    margin-left: 585px;
    margin-top: 80px;

}



.main-photo-section {
    display: flex;


}

.photo-section {
    width: 424px;
    height: 450px;
    justify-content: space-around;
    margin: 24px 24px 24px 0;
    border-radius: 16px;

}



.end-main {
    display: flex;
    margin-top: 48px;
    margin-left: 200px;
}

.end-sub {
    width: 210px;
    /* height: 24px; */
    padding: 34px 40pxpx;
    background-color: #FF0000;
    border-radius: 0 50px 50px 0;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    border: 0;

}

.input-section {
    width: 438px;
    height: 69px;
    border-radius: 50px 0 0 50px;
    border: 0;
    padding-left: 30px;
}

.main-title {
    width: 512px;
    height: 60px;
    font-size: 48px;
    margin-left: 404px;


}

.power-contant {
    margin-left: 202px;
    width: 896px;
    height: 64px;
    font-size: 20px;
    margin-top: 20px;
}

/* footer start */


footer {
    width: 1340px;
    height: 609px;
    background-color: #070211;

}

.footer-top-div {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    margin-top: 70px;
}


.footer-left-title {

    width: 375px;
    height: 80px;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;

}


.footer-right-title {
    display: flex;

}

.footer-icon {
    width: 24px;
    height: 24px;
    color: #FFFFFF;

}

.footer-number {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    padding-left: 5px;


}

hr {
    width: 940px;
    color: #474747;
    margin-left: 200px;
    opacity: 10%;

}

.footer-icon-least {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: center;

}

.footer-icon-vector {
    padding: 5px;
}

.footer-left {
    width: 295px;
    height: 29px;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.footer-right {
    width: 145px;
    height: 29px;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;

}

.footer-title-date {
    display: flex;
    justify-content: space-around;
    padding: 50px;

}